@import url(./clash-display.css);
.navbar{
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
}
.logo{
    color: rgba(155, 81, 224, 1);
    font-family: 'ClashDisplay-Bold';
  }
.second-section{
    display: flex;
    align-items: center;
}
.second-section ul{
    list-style-type: none;
    display: flex;
    color: #fff;
}
.second-section ul li{
    padding: 0 5px;
    font-family: 'ClashDisplay-Medium';
}

.third-section p{
    border: 2px solid rgba(155, 81, 224, 1) ;
    border-radius: 30px;
    padding: 0.5rem 10px;
    font-family: 'ClashDisplay-Medium';
    color: white;
}
