@import url(./Styles/clash-display.css);
body{
  /* background-color: rgba(30, 30, 30, 1); */
  background-color: black;
  box-sizing: border-box;
}
.App{
  box-sizing: border-box;
}
.person{ 
  border: 1px solid black;
  margin-bottom: 20px;
}
.sponsor{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin:1rem auto;
  width: 80%;
}
.sponsor div{
  width: 30%;
  display: flex;
  justify-content: center;    
  margin-bottom: 20px;
  align-items: center;
}
.sponsor div img{
  width: 50%;
}
.trustee{
  margin-top: 5rem;
}
.trustee h1{
  text-align: center;
  color: white;
  font-family: "ClashDisplay-SemiBold";
  letter-spacing: .1rem;
}

@media screen and (max-width:900px) {
  .sponsor div{
    width: 50%;
  }
  .sponsor div img{
    width: 80%;
  }
}
